/* ###################################################### */
/* ###################################################### */
/* ############## GLOBAL TYPOGRAPHY STYLES #############  */
/* ###################################################### */
/* ###################################################### */

/* ###################################################### */
/* ###################### DESKTOP ######################  */
/* ###################################################### */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--headings-font);
    font-weight: var(--semi-bold);
    color: var(--heading-color);
}

h1 {
    font-size: var(--desktop-heading);
    line-height: 1.2em;
    margin: 0 0 1.2rem 0;
    font-weight: 800;
}

h2 {
    font-size: 2.4rem;
    line-height: 1.3em;
    margin: 0 0 1.2rem 0;
}

h3 {
    font-size: 2rem;
    line-height: 1.3em;
    margin: 0 0 1.2rem 0;
}

h4 {
    font-size: 1.4rem;
    line-height: 1.3em;
    margin: 0 0 1.2rem 0;
    font-weight: 100;
}

/* ###################### PARAGRAPHS ######################  */

p {
    color: var(--light-text);
    font-family: var(--text-font);
    margin-bottom: 1em;
}

.p-large {
    font-size: var(--large-size);
}

.p-small {
    font-size: var(--small-size);
    font-family: var(--headings-font);
    text-transform: uppercase;
}


/* ###################### SPAN ######################  */

span {
    color: var(--secondary-color);
    font-style: italic;
}



/* ###################################################### */
/* ################### MEDIA QUERIES ###################  */
/* ###################################################### */

/* <<<------------------------------------------------------------->>> */
/* <<<------------ TYPOGRAPHY STYLES (max-width: 800px) ----------->>> */
/* <<<------------------------------------------------------------->>> */

@media (max-width: 1030px) {}


@media (max-width: 800px) {
    h1 {
        font-size: var(--desktop-heading);
    }

    h2 {
        font-size: 1.875em;
    }

    h3 {
        font-size: 1.563em;
    }

    h4 {
        font-size: 1.3rem;
    }

    .h4-light {
        font-size: 1.3rem;
    }

    h5 {
        font-size: 1.15rem;
    }

    .h5-light {
        font-size: 1.15rem;
    }

    h6 {
        font-size: 1rem;
    }

    .h6-light {
        font-size: 1rem;
    }

    /* ###################### PARAGRAPHS ######################  */

    .p-large {
        font-size: var(--regular-size);
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.5rem;
    }
}